[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "plugins/powerlevel10k"]
	path = plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "plugins/zsh-vi-mode"]
	path = plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "plugins/zsh-defer"]
	path = plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer
[submodule "plugins/zsh-manydots-magic"]
	path = plugins/zsh-manydots-magic
	url = https://github.com/knu/zsh-manydots-magic
